<div class="card" *ngIf="cardData">
    <div class="img">
        <img [src]="getImage(cardData.name)" alt="{{cardData.name}}">

        <div class="btn-cont" *ngIf="cardData.isAvailableToBuy">
            <button >Buy Now</button>
            <span *ngIf="cardData.price">${{cardData.price}} / ton</span>
        </div>
        <h3>{{cardData.title}}</h3>
    </div>
    <div class="content">
        <h2>{{cardData.heading}}</h2>
        <h3>{{cardData.weight}}</h3>
        <p>{{cardData.description}}</p>
    </div>
</div>