@import url('https://fonts.googleapis.com/css?family=Roboto|Staatliches|Vollkorn&display=swap');

// font-family: 'Vollkorn', serif;
// font-family: 'Staatliches', cursive;
// font-family: 'Roboto', sans-serif;
.banner-outer-cont{
    background: #C3F6AD;
    max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    border-bottom: 10px solid #F0F0F1;
    @media screen and (max-width: 480px){
        flex-direction: column;
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        text-align: center;
        @media screen and (max-width: 480px){
            padding: 0px 15px;
        }
        @media screen and (max-width: 768px){
            br{
                display: none
            }
        }
        @media screen and (max-width: 768px){
            font-size: 16px;
        }
    }

}

.banner-title{
   max-width: 540px;
}
